@page
@model guestbook_sample.Pages.Entries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entry.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entry.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entry.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entry?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
